<template>
    <el-row>
        <el-col>
            <el-row>
                <el-menu :router="true" class="mb-5 mt-4 pb-2" mode="horizontal">
                    <el-row type="flex" justify="space-between" align="middle">
                        <el-col :span="4">
                            <span class="text-muted fs-4">Тестовое задание</span>
                        </el-col>
                        <el-col :span="4">
                            <el-submenu index="user">
                                <template slot="title">{{ user.email }}</template>
                                <el-menu-item @click="$store.dispatch('LOGOUT')">Выйти</el-menu-item>
                            </el-submenu>
                        </el-col>
                    </el-row>
                </el-menu>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
export default {
    name: "Header",
    mounted() {
        this.$store.dispatch('GET_AUTH_USER_INFO')
    },
    computed: {
        user() {
            return this.$store.getters.AUTH_USER_INFO
        }
    }
}
</script>

<style scoped>

</style>
