<template>
    <el-row type="flex" justify="center">
        <el-col :span="10">
            <div class="card">
                <div class="card-header">Сброс пароля</div>
                <div class="card-body">
                    <el-form :model="forgotPasswordFields" :rules="rules" status-icon ref="forgotPasswordForm"
                             label-width="120px">
                        <el-form-item label="Email" prop="email" :rules="rules.email">
                            <el-input v-model="forgotPasswordFields.email" clearable></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button :loading="$store.getters.isLoading"
                                       type="info" @click.prevent="sendResetPasswordLink('forgotPasswordForm')"
                                       plain round>
                                {{ !resetPasswordLinkIsSend ? 'Отправить ссылку' : 'Отправить повторно' }}
                            </el-button>
                        </el-form-item>
                        <el-alert
                            :title="`Ссылка была отправлена на ${this.forgotPasswordFields.email}`"
                            type="success"
                            v-show="resetPasswordLinkIsSend"
                            :closable="false" center show-icon>
                        </el-alert>
                    </el-form>
                </div>
            </div>
        </el-col>
    </el-row>
</template>

<script>
import rules from "../../lib/rules";
import notification from "../../lib/notification";

export default {
    name: "ForgotPassword",
    computed: {
        forgotPasswordFields() {
            return this.$store.getters.forgotPasswordFields
        },
        resetPasswordLinkIsSend() {
            return this.$store.getters.resetPasswordLinkIsSend
        },
        rules() {
            return rules(this.$store.getters.forgotPasswordFields)
        }
    },
    methods: {
        sendResetPasswordLink(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.$store.dispatch('sendResetPasswordLink', {
                        forgotPasswordFields: this.forgotPasswordFields,
                        notification: notification(this.$notify)
                    })
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
