<template>
    <el-form :model="currencyFilter" class="demo-form-inline">
        <el-row>
            <el-col>
                <span class="fs-4 text-muted mb-2">Фильтр</span>
            </el-col>
        </el-row>
        <el-row>
            <el-col>
                <el-form-item prop="dates">
                    <span class="text-muted fs-6">Выбор даты</span>
                    <el-date-picker
                        v-model="currencyFilter.dates"
                        type="daterange"
                        unlink-panels
                        start-placeholder="От"
                        end-placeholder="До"
                        value-format="yyyy/MM/dd"
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col>
                <el-form-item prop="valute_id">
                    <span class="text-muted fs-6 d-block">Выбор валюты</span>
                        <el-select v-model="currencyFilter.valute_id" clearable>
                            <el-option
                                v-for="currency in currencies"
                                :key="currency.valute_id"
                                :label="`${currency.name}   (${currency.valute_id})`"
                                :value="currency.valute_id">
                            </el-option>
                        </el-select>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row>
            <el-col>
                <el-form-item>
                    <el-button
                        :loading="$store.getters.IS_LOADING"
                        v-on:click="$store.dispatch('GET_CURRENCY_QUOTATIONS', {
                            filter: currencyFilter,
                            notificator
                        })"
                        type="primary" round plain>Применить
                    </el-button>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
</template>

<script>
import rules from "../../../lib/rules";
import notification from "../../../lib/notification";

export default {
    name: "CurrencyFilter",
    mounted() {
        this.$store.dispatch('GET_CURRENCIES', {notificator: this.notificator})
    },
    computed: {
        currencies() {
            return this.$store.getters.CURRENCIES
        },
        currencyFilter() {
            return this.$store.getters.CURRENCY_FILTER
        },
        notificator() {
            return notification(this.$notify)
        },
        rules() {
            return rules()
        }
    },
    data() {
        return {
            pickerOptions: {
                shortcuts: [{
                    text: 'Последняя неделя',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Последний месяц',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Последние 3 месяца',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
        }
    }
}
</script>

<style scoped>

</style>
