<template>
    <el-tabs :value="currencies ? 'currencies' : 'data-sync'">
        <el-tab-pane label="Котировки" name="currencies" :disabled="!currencies">
            <el-row type="flex" justify="space-between" :gutter="20">
                <el-col>
                    <el-table
                        :data="currencyQuotations"
                        style="width: 100%">
                        <el-table-column
                            prop="id"
                            label="id"
                            width="60">
                        </el-table-column>
                        <el-table-column
                            prop="name"
                            label="Валюта"
                            width="250">
                        </el-table-column>
                        <el-table-column
                            prop="valute_id"
                            label="id валюты"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="char_code"
                            label="Буквенный код">
                        </el-table-column>
                        <el-table-column
                            prop="num_code"
                            label="Числовой код">
                        </el-table-column>
                        <el-table-column
                            prop="value"
                            label="Значение"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="date"
                            label="Дата"
                            width="100">
                        </el-table-column>
                    </el-table>
                </el-col>

                <el-col :span="7">
                    <CurrencyFilter></CurrencyFilter>
                </el-col>
            </el-row>
        </el-tab-pane>
        <el-tab-pane label="Обновление данных" name="data-sync">
            <el-row class="mt-3">
                <el-col>
                    <span class="text-muted me-2">Введите количество дней</span>
                    <el-input-number v-model="countDaysSync" :min="1" :max="60" size="small"
                                     label="Выберите количество дней"></el-input-number>
                    <el-button
                        class="ms-3"
                        type="success"
                        size="small"
                        :loading="$store.getters.IS_LOADING"
                        v-on:click="$store.dispatch('SYNC_CURRENCIES', {countDaysSync, notificator})"
                        round plain>Обновить
                    </el-button>
                </el-col>
            </el-row>
            <el-row class="mt-5">
                <el-col>
                    <span class="text-muted me-2">Очистить таблицу</span>
                    <el-popconfirm @confirm="$store.dispatch('DESTROY_CURRENSIES', {notificator})" title="Очистить таблицу?" confirm-button-type="danger">
                        <el-button type="danger" size="small" slot="reference" round plain>Очистить</el-button>
                    </el-popconfirm>
                </el-col>
            </el-row>
        </el-tab-pane>
    </el-tabs>
</template>

<script>

import CurrencyFilter from "./CurrencyFilter";
import notification from "../../../lib/notification";

export default {
    name: "Main",
    components: {CurrencyFilter},
    mounted() {
        this.$store.dispatch('GET_CURRENCY_QUOTATIONS', {notificator: this.notificator})
    },
    computed: {
        currencyQuotations(){
            return this.$store.getters.CURRENCY_QUOTATIONS
        },
        currencies() {
            return this.$store.getters.CURRENCIES
        },
        countDaysSync: {
            get() {
                return this.$store.getters.COUNT_DAYS_SYNC
            },
            set(count) {
                this.$store.dispatch('SET_COUNT_DAYS_SYNC', count)
            }
        },
        notificator() {
            return notification(this.$notify)
        }
    },

}
</script>

<style scoped>

</style>
