<template>
    <el-row>
        <el-col>
            <el-row>
                <el-col>
                    <Header class="header"></Header>
                </el-col>
            </el-row>
            <el-row type="flex" justify="space-between">
                <el-col>
                    <Main></Main>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
import Header from "./Includes/Header";
import Main from "./Includes/Currency/Main";

export default {
    name: "Index",
    components: {Header, Main},
}
</script>

<style>


</style>
