<template>
    <el-row>
        <el-menu class="d-flex justify-content-end" :router="true" :default-active="activeIndex" mode="horizontal">
            <el-menu-item :route="{name: 'auth.register'}" index="auth.register">Зарегестрироваться</el-menu-item>
            <el-menu-item :route="{name: 'auth.login'}" index="auth.login">Войти</el-menu-item>
        </el-menu>
    </el-row>
</template>

<script>
export default {
    name: "Navigation",
    computed: {
        activeIndex() {
            return this.$route.name
        }
    }
}
</script>

<style scoped>
.logo img {
    width: 100px;
    height: 100px;
}

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        margin-top: 0;
        display: block
    }
}
</style>
